.banner{
    width: 100%;
    height: 500px;
    background: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
}
:root{
    --text-color:#B68C5A;
    --font-family: 'EB Garamond';
}
h1{
    font-family: var(--font-family);
}
.spical-btn{
    background-color: var(--text-color);
}
.spical-card{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}
.list:hover{
    background-color: #B68C5A;
    color: yellow;
    border-radius: 8px;
}